/.vs/*
/DenonWeb/bin/*
/DenonWeb/obj/*
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.5.nupkg
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
web.config.install.xdt
web.config.uninstall.xdt
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
install.ps1
uninstall.ps1
Microsoft.Net.Compilers.2.1.0.nupkg
ThirdPartyNotices.rtf
Microsoft.Net.Compilers.props
Microsoft.Build.Tasks.CodeAnalysis.dll
Microsoft.CSharp.Core.targets
Microsoft.CodeAnalysis.CSharp.Scripting.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.Scripting.dll
Microsoft.CodeAnalysis.VisualBasic.dll
Microsoft.CodeAnalysis.dll
Microsoft.DiaSymReader.Native.amd64.dll
Microsoft.DiaSymReader.Native.x86.dll
Microsoft.VisualBasic.Core.targets
Microsoft.Win32.Primitives.dll
System.AppContext.dll
System.Collections.Immutable.dll
System.Console.dll
System.Diagnostics.FileVersionInfo.dll
System.Diagnostics.Process.dll
System.Diagnostics.StackTrace.dll
System.IO.Compression.dll
System.IO.FileSystem.DriveInfo.dll
System.IO.FileSystem.Primitives.dll
System.IO.FileSystem.dll
System.IO.Pipes.dll
System.Reflection.Metadata.dll
System.Security.AccessControl.dll
System.Security.Claims.dll
System.Security.Cryptography.Algorithms.dll
System.Security.Cryptography.Encoding.dll
System.Security.Cryptography.Primitives.dll
System.Security.Cryptography.X509Certificates.dll
System.Security.Principal.Windows.dll
System.Text.Encoding.CodePages.dll
System.Threading.Thread.dll
System.ValueTuple.dll
System.Xml.ReaderWriter.dll
System.Xml.XPath.XDocument.dll
System.Xml.XPath.dll
System.Xml.XmlDocument.dll
VBCSCompiler.exe
VBCSCompiler.exe.config
csc.exe
csc.exe.config
csc.rsp
csi.exe
csi.exe.config
csi.rsp
vbc.exe
vbc.exe.config
vbc.rsp
